@{
    ViewBag.Title = "PresidentsCandidate";
    Layout = null;

}
@Styles.Render("~/Content/PageStylecss")

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container" id="tourpackages-carousel">
    <div class="row">

        <div class="col-lg-12">
            <h1>
                CANDIDATOS A PRESIDENTE
                <a class="btn icon-btn btn-primary pull-right" href="@Url.Action("Index", "Home")">
                    <span class="glyphicon btn-glyphicon img-circle"></span> VOTO EN BLANCO
                </a>
            </h1>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <div class='col-lg-12'>
                        <div align="center"><img src="https://firebasestorage.googleapis.com/v0/b/proyectoionic-caad0.appspot.com/o/oscar.jpg?alt=media&token=f97d2383-f5af-45e5-bc99-9e499e1f7744" class="img-circle" width="100"></div>
                    </div>

                    <div class='col-lg-12 well well-add-card'>
                        <h4>Oscar Ortiz</h4>
                    </div>

                    <div class='col-lg-12'>
                        <p>21F</p>
                    </div>
                    <a type="button" class="btn btn-primary btn-xs btn-update btn-add-card" href="@Url.Action("Index", "Home")">VOTAR</a>
                </div>
            </div>
        </div>
    </div>
</div>



